.quizItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.quizQuestion {
  width: 96%;
  margin: 0 auto;
  padding: 1rem;
  background-image: linear-gradient(#100241, black);
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #ee82ee;
}

.quizAnswers {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 56px 56px;
  gap: 1rem;
}

.answer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #ffffff;
  background: linear-gradient(#0e0124, #22074d);
  cursor: pointer;
  border: 1px solid #ffffff;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: crimson;
  }
}

@media (max-width: 856px) {
  .quizAnswers {
    grid-template-columns: 1fr;
    margin: 1rem auto;
  }
}
