.app {
  width: 100%;
  height: 100vh;
  background: #020230;
  display: grid;
  grid-template-columns: 1fr 280px;
}

.main {
  flex: 1;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/bg.jpeg") center;
  display: flex;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.top {
  height: 50%;
  width: 100%;
  position: relative;
}

.timer {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  border: 5px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 4rem;
  color: #ffffff;
}

.bottom {
  height: 50%;
}

.money {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #020230;
}

.moneyButtonList {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ee82ee;
  z-index: 100000;
  transition: 0.2s;
}

.moneyButtonList:hover,
.moneyButtonList:focus {
  box-shadow: 0 0 0 3px #020230, 0 0 0 4px #ee82ee;
}

.moneyList {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.moneyItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.moneyItem.active {
  background-color: teal;
  /* border-radius: 0.5rem; */
}

.moneyNumber {
  font-size: 1rem;
  color: #ddd;
  width: 25%;
  align-self: flex-start;
  font-weight: normal;
}

.moneyAmount {
  font-size: 1rem;
  color: #ffffff;
  width: 70%;
  font-weight: bold;
}

.endText {
  color: #ffffff;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.start {
  grid-column: 1/3;
  max-width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.5rem;
  gap: 1rem;
}

.startInput {
  width: 350px;
  width: 100%;
  height: 56px;
  padding: 0.5rem 1rem;
  /* border-radius: 0.5rem; */
  border: none;
  font-size: 1.2rem;
  text-align: center;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: 100%;
  height: 56px;
  padding: 0.5rem 1rem;
  /* border-radius: 0.5rem; */
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.restart {
  width: 350px;
  max-width: 80%;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  /* border-radius: 2rem; */
  border: 1px solid rgba(255, 255, 255, 0.137);
}

@media (max-width: 856px) {
  .top {
    height: 20%;
    width: 100%;
    position: relative;
  }

  .main {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  .bottom {
    flex: 1;
  }

  .money {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}
